/*General Setup*/
html, body
{
    width: 100%;
    margin:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: skyblue;     
}
#MyBackground
{
    position: absolute;
    min-height: 100vh;
}
/*rotating square animation*/
#movingSquare{
    background-color: indigo;
    width: 20px;
    height:20px;
    position:absolute;
    top:30px;
    left:50px;
    animation:5s linear 0s infinite forwards moveBall;
}
@keyframes moveBall
{
    0%
    {
        transform:rotate(0deg)
    }
    50%
    {
        transform:rotate(180deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
/*nav bar set up*/

#navB
{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    height:10vh;
    width: 100vw;
    margin:0;
    background-color: navy;
    position:sticky;
    top:0;
    align-content: center;
}
#navB a{
    text-align: center;
    line-height: 50%;
    margin:0;
    font-size:5vh;
    text-decoration:none;
    color: whitesmoke;
    border: 5px solid rgb(10, 10, 10);
    box-sizing: border-box;
    width:25vw;
    height:10vh;
    padding-left:1.5vw;
    padding-right:1.5vw;
    padding-top:20px;
    padding-bottom: 20px;
    overflow:hidden;
}

/*Header setup*/
section{
    display: flex;
  }
  h1{
    flex:5;
    color:navy;
    font-size: 3em;
    text-align: center;
    margin-top:10vh;
  }
  #Headerimg{
    max-width:5vw;
    margin-right:25vw;
    margin-top:1vh;
    margin-bottom:1vh;
    min-width:100px;
  }
#Hobbytxt-pic
{
    display:grid;
    gap:10px;
}
#Hobbies h2
{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin:10px;
    text-align: center;
    color:white;
    border: 10px solid rgb(15,15,15);
    background-color: navy;
    
}
#Hobbytxt-pic h3
{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin:10px;
    text-align: center;
    color:white;
    border: 10px dotted rgb(15,15,15);
    background-color: blueviolet;
    
}
#Hob1
{
    grid-row:1;
    grid-column: 1;
}
#Hob2
{
    grid-row:1;
    grid-column: 2;
}
#Hob3
{
    grid-row:2;
    grid-column: 1;
}
#Hob4
{
    grid-row:2;
    grid-column: 2;
}
#Hob5
{
    grid-row:3;
    grid-column: 1;
}
#Hob6
{
    grid-row:3;
    grid-column: 2;
}
#Hobbies
{
    margin-top:1vh;
    margin-bottom:1vh;
    margin-right:1vw;
    margin-left:1vw;
    width:98vw;
    background-color:cornflowerblue;
    border: 5px solid rgb(15,15,15);
    display:flex;
    flex:1;
    flex-direction: row;
}
#Hobbies section
{
    display: flex;
    flex:1;
    flex-direction: column;
    text-align: center;

}

#Socials
{
    margin-top:1vh;
    margin-bottom:1vh;
    margin-right:1vw;
    margin-left:1vw;
    width:98vw;
    background-color:cornflowerblue;
    display:block;
    text-align: center;
}
#Socials h2
{
    padding-top:1vh;
    padding-bottom:1vh;
    color: rgb(15,15,15);
}
#Socials a 
{
    color: rgb(15,15,15);
}
#Socials:hover
{
    background-color: white;
}
#Bio
{
    margin-top:1vh;
    margin-bottom:1vh;
    margin-right:1vw;
    margin-left:1vw;
    width:98vw;
    background-color:cornflowerblue;
    display:flex;
    flex-direction: row;
}
#Bio div
{
    flex-direction: column;
    flex:1;
    padding-left:1vw;
    padding-right:1vw;
    border: 5px solid rgb(15,15,15);
    
}
#Bio h2
{
    text-align: center;
}
#Hobbies img
{
    max-height:25vh;
}
.photos
{
    margin-top:1vh;
    margin-bottom:1vh;
    flex-direction: row;
   
}
/*Styling for Iphone*/
@media only screen and (max-width:400px)
{
    /*Make font smaller for header and nav*/
    h1 
    {
        font-size: 2em;
    }
    #Headerimg{
        max-width:20px;
        margin-right:1vw;
        margin-top:1vh;
        margin-bottom:1vh;
        max-height:35px;
        align-self: center;
      }
    #navB
    {
        height:2.5vh;
        font-size: 5vh;
    }
    #Bio
{
    margin-top:1vh;
    margin-bottom:1vh;
    margin-right:1vw;
    margin-left:1vw;
    width:98vw;
    background-color:cornflowerblue;
    display:flex;
    flex-direction: column;
}
#Bio div
{
    flex-direction: column;
    padding-left:1vw;
    padding-right:1vw;
    border: 5px solid rgb(15,15,15);
}
#Hobbies
{
    margin-top:1vh;
    margin-bottom:1vh;
    margin-right:1vw;
    margin-left:1vw;
    width:98vw;
    background-color:cornflowerblue;
    border: 5px solid rgb(15,15,15);
    display:flex;
    flex-direction: column;
}
#movingSquare
{
    top:10px;
    left:5px;
}
    

}




