/*General Setup*/
html, body
{
    width: 100%;
    margin:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: skyblue;     
}
#MyBackground
{
    position: absolute;
    min-height: 100vh;
}
/*rotating square animation*/
#movingSquare{
    background-color: indigo;
    width: 20px;
    height:20px;
    position:absolute;
    top:30px;
    left:50px;
    animation:5s linear 0s infinite forwards moveBall;
}
@keyframes moveBall
{
    0%
    {
        transform:rotate(0deg)
    }
    50%
    {
        transform:rotate(180deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
/*nav bar set up*/

#navB
{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    height:10vh;
    width: 100vw;
    margin:0;
    background-color: navy;
    position:sticky;
    top:0;
    align-content: center;
}
#navB a{
    text-align: center;
    line-height: 50%;
    margin:0;
    font-size:5vh;
    text-decoration:none;
    color: whitesmoke;
    border: 5px solid rgb(10, 10, 10);
    box-sizing: border-box;
    width:25vw;
    height:10vh;
    padding-left:1.5vw;
    padding-right:1.5vw;
    padding-top:20px;
    padding-bottom: 20px;
    overflow:hidden;
}

/*Header setup*/
section{
    display: flex;
  }
  h1{
    flex:5;
    color:navy;
    font-size: 3em;
    text-align: center;
  }
  h1 img{
    max-width:20px;
    margin-left:100px;
  }
  
 

  



