/* || General setup */
html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#MyBackground
{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}
#overlay1
{
    position: fixed;
    bottom:50px;
}
#overlay1 div
{
    display: flex;
    flex: 1 auto;
    margin: 5px;
    font-size: 25px;
}

#overlay2
{
    position: fixed;
    top:50px;
    right:-500px;
}
#overlay2 img
{
    max-width: 25%;
    max-height: 25%;
}
#score1
{
    background-color: red;
    color:black;
}
#score2
{
    background-color: green;
    color:black;
}
#time
{
    background-color: rgba(5,5,5);
    color: white;
}


