body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: deepskyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: navy;
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}
h1
{
    color: navy;
}
#red-ball{
    background-color: indigo;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
}