/* general setup */
html, body
{
    width: 100%;
    margin:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: skyblue;     
}
/*create gameboard */
.gameBoard
{
    height: 80vh;
    width: 80vw;
    margin-top:7vh;
    border: 1vh solid rgb(10, 10, 10);
    margin-left:10%;
}
/* trivia game */
.triviaGame
{
    height: 80vh;
    width: 80vw;
    display:none;
    border: 1vh solid rgb(10, 10, 10);
    background-color: rgb(100,100,100);
    font-family: 'Franklin Gothic Medium';
    margin-left:10%;
    background-image: url('../img/alien-boss-1.webp');
    background-size: cover;
    margin-bottom:10vh;
    margin-top:5vh;
    padding-bottom:10vh;
}
.triviaGame p
{
    text-align: center;
    color:whitesmoke;
}
#box
{
    color:whitesmoke;
    text-align: center;
    font-size: 3em;
    padding:3vh;
    background-color: rgb(10, 10, 10);
}
#box label
{
    font-size: .5em;
}
.button
{
    display: none;
    background-color: rgb(10, 10, 10);
    color:whitesmoke;
    margin-left:32.5vw;
    font-size:1em;
    width: 15vw;
    height: 10vh;
    align-content: center;
}
.grid-parent{
    height:65vh;
    display:grid;
    border-bottom: 1vh solid rgb(10, 10, 10);
    grid-template-rows: 13vh 13vh 13vh 13vh 13vh;
    grid-template-columns: 7.8vw 7.8vw 7.8vw 7.8vw 7.8vw 7.8vw 7.8vw 7.8vw 7.8vw 7.8vw;
    gap:0;
    background-image: url('../img/spaceBackground1.jpg');
    background-size: cover;
    background-position-y: -20vh;
    padding-top:1.5vh;
    padding-bottom:1.5vh;
    padding-left:1vw;
    padding-right:1vw;
}
.grid-parent h2
{
    margin:0;
    padding:0;
    text-align: center;
    background-color: whitesmoke;
    
}
.grid-parent div
{
    margin:0;
    padding:0;
    background-color: whitesmoke;
}
#no1{
    grid-row:5;
    grid-column: 1;
    border: 5px solid rgb(10, 10, 10);
    border-right:none;
    line-height:11vh;
    text-align:center;
    font-size: 2em;

}
#no2{
    grid-row:5;
    grid-column: 2;
    border: 5px solid rgb(10, 10, 10);
}
#no3{
    grid-row:4;
    grid-column: 2;
    border: 5px solid rgb(10, 10, 10);
    border-bottom:none;
}
#no4{
    grid-row:3;
    grid-column: 2;
    border: 5px solid rgb(10, 10, 10);
    border-bottom:none;
    border-top:2.5px solid rgb(10, 10, 10);
}
#no5{
    grid-row:2;
    grid-column: 2;
    border: 5px solid rgb(10, 10, 10);
    border-top:none;
    border-bottom:2.5px solid rgb(10, 10, 10);
}
#no6{
    grid-row:1;
    grid-column: 2;
    border: 5px solid rgb(10, 10, 10);
}
#no7{
    grid-row:1;
    grid-column: 3;
    border: 5px solid rgb(10, 10, 10);
    border-left:none;
    border-right: 2.5px solid rgb(10, 10, 10);
}
#no8{
    grid-row:1;
    grid-column: 4;
    border: 5px solid rgb(10, 10, 10);
    border-left: 2.5px solid rgb(10, 10, 10);
    border-right:none;
}
#no9{
    grid-row:1;
    grid-column: 5;
    border: 5px solid rgb(10, 10, 10);
}
#no10{
    grid-row:2;
    grid-column: 5;
    border: 5px solid rgb(10, 10, 10);
    border-top:none;
    border-bottom:none;
}
#no11{
    grid-row:3;
    grid-column: 5;
    border: 5px solid rgb(10, 10, 10);
    background-color: red;
    line-height:11vh;
    font-weight: bold;
    text-align:center;
    font-size: 1em;
}
#no12{
    grid-row:3;
    grid-column: 6;
    border: 5px solid rgb(10, 10, 10);
    border-left:none;
    border-right:none;
}
#no13{
    grid-row:3;
    grid-column: 7;
    border: 5px solid rgb(10, 10, 10);
}
#no14{
    grid-row:2;
    grid-column: 7;
    border: 5px solid rgb(10, 10, 10);
    border-bottom:none;
    border-top:none;
}
#no15{
    grid-row:1;
    grid-column: 7;
    border: 5px solid rgb(10, 10, 10);
}
#no16{
    grid-row:1;
    grid-column: 8;
    border: 5px solid rgb(10, 10, 10);
    border-left:none;
    border-right:none;
}
#no17{
    grid-row:1;
    grid-column: 9;
    border: 5px solid rgb(10, 10, 10);
}
#no18{
    grid-row:2;
    grid-column: 9;
    border: 5px solid rgb(10, 10, 10);
    border-bottom: 2.5px solid rgb(10, 10, 10);
    border-top:none;
}
#no19{
    grid-row:3;
    grid-column: 9;
    border: 5px solid rgb(10, 10, 10);
    border-bottom:none;
    border-top: 2.5px solid rgb(10, 10, 10);
}
#no20{
    grid-row:4;
    grid-column: 9;
    border: 5px solid rgb(10, 10, 10);
}
#no21{
    grid-row:4;
    grid-column: 10;
    border: 5px solid rgb(10, 10, 10);
    border-left:none;
    background-color:red;
    font-weight: bold;
    line-height:11vh;
    text-align:center;
    font-size: 1em;
}
#no22{
    grid-row:4;
    grid-column: 1;
    border: 5px solid rgb(10, 10, 10);
    border-right:none;
}
#no23{
    grid-row:4;
    grid-column: 2;
    border: 5px solid rgb(10, 10, 10);
    border-right:none;
}
#no24{
    grid-row:4;
    grid-column: 3;
    border: 5px solid rgb(10, 10, 10);
}
#no25{
    grid-row:3;
    grid-column: 3;
    border: 5px solid rgb(10, 10, 10);
    border-bottom:none;
    border-top: 2.5px solid rgb(10, 10, 10);
}
#no26{
    grid-row:2;
    grid-column: 3;
    border: 5px solid rgb(10, 10, 10);
    border-bottom: 2.5px solid rgb(10, 10, 10);
    border-top:none;
}
#no27{
    grid-row:1;
    grid-column: 3;
    border: 5px solid rgb(10, 10, 10);
}
#no28{
    grid-row:1;
    grid-column: 4;
    border: 5px solid rgb(10, 10, 10);
    border-left:none;
    border-right: 2.5px solid rgb(10, 10, 10);
}
#no29{
    grid-row:1;
    grid-column: 5;
    border: 5px solid rgb(10, 10, 10);
    border-left: 2.5px solid rgb(10, 10, 10);
    border-right:none;
}
#no30{
    grid-row:1;
    grid-column: 6;
    border: 5px solid rgb(10, 10, 10);
}
#no31{
    grid-row:2;
    grid-column: 6;
    border: 5px solid rgb(10, 10, 10);
    border-top:none;
    border-bottom: 2.5px solid rgb(10, 10, 10);
    background-color:red;
    font-weight: bold;
    line-height:11vh;
    text-align:center;
    font-size: 1em;
}
#no32{
    grid-row:3;
    grid-column: 6;
    border: 5px solid rgb(10, 10, 10);
    
    border-top: 2.5px solid rgb(10, 10, 10);
    border-bottom: 2.5px solid rgb(10, 10, 10);
}
#no33{
    grid-row:4;
    grid-column: 6;
    border: 5px solid rgb(10, 10, 10);
    border-top: 2.5px solid rgb(10, 10, 10);
    border-bottom:none;
}
#no34{
    grid-row:5;
    grid-column: 6;
    border: 5px solid rgb(10, 10, 10);
}
#no35{
    grid-row:5;
    grid-column: 7;
    border: 5px solid rgb(10, 10, 10);
    border-left:none;
    border-right:none;
}
#no36{
    grid-row:5;
    grid-column: 8;
    border: 5px solid rgb(10, 10, 10);
}
#no37{
    grid-row:4;
    grid-column: 8;
    border: 5px solid rgb(10, 10, 10);
    border-bottom:none;
    border-top: 2.5px solid rgb(10, 10, 10);
}
#no38{
    grid-row:3;
    grid-column: 8;
    border: 5px solid rgb(10, 10, 10);
    border-bottom: 2.5px solid rgb(10, 10, 10);
    border-top: none;
}
#no39{
    grid-row:2;
    grid-column: 8;
    border: 5px solid rgb(10, 10, 10);
    border-top:none;
}
#no40{
    grid-row:1;
    grid-column: 8;
    border: 5px solid rgb(10, 10, 10);
}
#no41{
    grid-row:1;
    grid-column: 9;
    border: 5px solid rgb(10, 10, 10);
    border-left:none;
    border-right: 2.5px solid rgb(10, 10, 10);
}
#no42{
    grid-row:1;
    grid-column: 10;
    border: 5px solid rgb(10, 10, 10);
    border-left: 2.5px solid rgb(10, 10, 10);
    background-color:red;
    font-weight: bold;
    line-height:11vh;
    text-align:center;
    font-size: 1em;
}
/* Styling for spaceship */
#spaceCraft
{
    position: relative;
    width:4.5vw;
    transform: translateX(1.25vw) translateY(54vh) rotate(45deg);
    transition-duration: 1s;
    left:0;
    top:0;
}


/* make classes for rotation and translation as ship moves through the board */

/* roll dice animation and creation of die */
/* first set up menu bar */
#menu-bar
{
    height: 11.1vh;
    display:flex;
    background-color: rgb(39, 16, 123);
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
#menu-bar p
{
    padding: 5px;
    font-size:2em;
    color: whitesmoke;
    
}
.die {
    width: 7vh;
    height: 7vh;
    margin: .7vh;
    perspective:42vh;
    box-sizing: border-box;
  }
/* create die to be rolled */
.die-roll {
    box-sizing: border-box;
    width: 7vh;
    height: 7vh;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-3.5vh);
    transition-property: transform;
    transition-duration: 1s;
}

/* make die rolling animation classes */

.die-roll.face-1 { transform: rotateY(0deg); }
.die-roll.face-2 { transform: rotateY(-180deg); } 
.die-roll.face-3 { transform: rotateY(-90deg); }
.die-roll.face-4 { transform: rotateY(90deg); }
.die-roll.face-5 { transform: rotateX(-90deg); }
.die-roll.face-6 { transform: rotateX(90deg); }


.cube {
    box-sizing: border-box;
    position: absolute;
    width: 7vh;
    height: 7vh;
    border: 2px solid rgb(10, 10, 10);
    line-height: 7vh;
    font-size: 20px;
    font-weight: bold;
    color: rgb(10, 10, 10);
    text-align: center;
}
/* create each face for rolling die and their animation */
.face1 { background: whitesmoke; transform: rotateY(0deg) translateZ(3.5vh); }
.face2 { background: whitesmoke; transform: rotateY(180deg) translateZ(3.5vh); } 
.face3 { background: whitesmoke; transform: rotateY(90deg) translateZ(3.5vh); }
.face4 { background: whitesmoke; transform: rotateY(-90deg) translateZ(3.5vh); }
.face5 { background: whitesmoke; transform: rotateX(90deg) translateZ(3.5vh); }
.face6 { background: whitesmoke; transform: rotateX(-90deg) translateZ(3.5vh); }

.face1.changeColor,
.face2.changeColor,
.face3.changeColor,
.face4.changeColor,
.face5.changeColor,
.face6.changeColor
{
    animation-name: change;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes change {
    50% {background-color: rgb(10, 10, 10);}
}



label { margin-right: .35vh; }

  

