html, body
{
    margin:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: skyblue;    
    width: 640px;
    margin: 0 auto;
    height:100vh;
}

h1 {
  color:navy;
  font-size: 3em;
  text-align: center;
}


.full-img {
  position: relative;
  display: block;
  width: 700px;
  height: 480px;
  overflow:hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: white;
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}
.thumb-bar 
{
  width: 700px;
  display: flex;
  flex-direction: row;
}

.thumb-bar img {
  width:20%;
  cursor: pointer;
}